/* style.css - convertido de SCSS */
body {
  background: #323133;
}

body ul {
  padding: 0;
}

body ul li {
  list-style: none;
}

/* Primeiro UL */
body ul:nth-child(1) {
  position: absolute;
  top: calc(20vh - 1.6rem);
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

body ul:nth-child(1) li {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0 0.5rem 1rem 0.5rem;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFCE54;
  transform-origin: 0.5rem 1rem;
}

body ul:nth-child(1) li:nth-child(1) { transform: rotate(0deg); }
body ul:nth-child(1) li:nth-child(2) { transform: rotate(72deg); }
body ul:nth-child(1) li:nth-child(3) { transform: rotate(144deg); }
body ul:nth-child(1) li:nth-child(4) { transform: rotate(216deg); }
body ul:nth-child(1) li:nth-child(5) { transform: rotate(288deg); }

/* Segundo UL */
body ul:nth-child(2) li {
  position: absolute;
  top: 20vh;
  right: 50%;
  width: 0.0625rem;
  background: linear-gradient(rgba(46,204,113, 0), rgba(46,204,113, 0.25));
  list-style: none;
  transform-origin: 50% 0;
  animation: swing 4s ease-in-out infinite;
}

body ul:nth-child(2) li:before {
  content: '';
  position: absolute;
  left: -1px;
  bottom: 1px;
  width: 3px;
  height: 3px;
}

/* Cores dos pontos */
body ul:nth-child(2) li:nth-child(4n):before { background: #D8334A; }
body ul:nth-child(2) li:nth-child(4n+1):before { background: #FFCE54; }
body ul:nth-child(2) li:nth-child(4n+2):before { background: #2ECC71; }
body ul:nth-child(2) li:nth-child(4n+3):before { background: #5D9CEC; }

/* Altura e delays dos 128 elementos */
body ul:nth-child(2) li:nth-child(1) { height: 2.2727vh; animation-delay: -0.2188s; }
body ul:nth-child(2) li:nth-child(2) { height: 2.7273vh; animation-delay: -0.4375s; }
body ul:nth-child(2) li:nth-child(3) { height: 3.1818vh; animation-delay: -0.6562s; }
body ul:nth-child(2) li:nth-child(4) { height: 3.6364vh; animation-delay: -0.875s; }
body ul:nth-child(2) li:nth-child(5) { height: 4.0909vh; animation-delay: -1.0938s; }
body ul:nth-child(2) li:nth-child(6) { height: 4.5455vh; animation-delay: -1.3125s; }
body ul:nth-child(2) li:nth-child(7) { height: 5.0vh; animation-delay: -1.5312s; }
body ul:nth-child(2) li:nth-child(8) { height: 5.4545vh; animation-delay: -1.75s; }
body ul:nth-child(2) li:nth-child(9) { height: 5.9091vh; animation-delay: -1.9688s; }
body ul:nth-child(2) li:nth-child(10) { height: 6.3636vh; animation-delay: -2.1875s; }
body ul:nth-child(2) li:nth-child(11) { height: 6.8182vh; animation-delay: -2.4062s; }
body ul:nth-child(2) li:nth-child(12) { height: 7.2727vh; animation-delay: -2.625s; }
body ul:nth-child(2) li:nth-child(13) { height: 7.7273vh; animation-delay: -2.8438s; }
body ul:nth-child(2) li:nth-child(14) { height: 8.1818vh; animation-delay: -3.0625s; }
body ul:nth-child(2) li:nth-child(15) { height: 8.6364vh; animation-delay: -3.2812s; }
body ul:nth-child(2) li:nth-child(16) { height: 9.0909vh; animation-delay: -3.5s; }
body ul:nth-child(2) li:nth-child(17) { height: 9.5455vh; animation-delay: -3.7188s; }
body ul:nth-child(2) li:nth-child(18) { height: 10.0vh; animation-delay: -3.9375s; }
body ul:nth-child(2) li:nth-child(19) { height: 10.4545vh; animation-delay: -4.1562s; }
body ul:nth-child(2) li:nth-child(20) { height: 10.9091vh; animation-delay: -4.375s; }
body ul:nth-child(2) li:nth-child(21) { height: 11.3636vh; animation-delay: -4.5938s; }
body ul:nth-child(2) li:nth-child(22) { height: 11.8182vh; animation-delay: -4.8125s; }
body ul:nth-child(2) li:nth-child(23) { height: 12.2727vh; animation-delay: -5.0312s; }
body ul:nth-child(2) li:nth-child(24) { height: 12.7273vh; animation-delay: -5.25s; }
body ul:nth-child(2) li:nth-child(25) { height: 13.1818vh; animation-delay: -5.4688s; }
body ul:nth-child(2) li:nth-child(26) { height: 13.6364vh; animation-delay: -5.6875s; }
body ul:nth-child(2) li:nth-child(27) { height: 14.0909vh; animation-delay: -5.9062s; }
body ul:nth-child(2) li:nth-child(28) { height: 14.5455vh; animation-delay: -6.125s; }
body ul:nth-child(2) li:nth-child(29) { height: 15.0vh; animation-delay: -6.3438s; }
body ul:nth-child(2) li:nth-child(30) { height: 15.4545vh; animation-delay: -6.5625s; }
body ul:nth-child(2) li:nth-child(31) { height: 15.9091vh; animation-delay: -6.7812s; }
body ul:nth-child(2) li:nth-child(32) { height: 16.3636vh; animation-delay: -7.0s; }
body ul:nth-child(2) li:nth-child(33) { height: 16.8182vh; animation-delay: -7.2188s; }
body ul:nth-child(2) li:nth-child(34) { height: 17.2727vh; animation-delay: -7.4375s; }
body ul:nth-child(2) li:nth-child(35) { height: 17.7273vh; animation-delay: -7.6562s; }
body ul:nth-child(2) li:nth-child(36) { height: 18.1818vh; animation-delay: -7.875s; }
body ul:nth-child(2) li:nth-child(37) { height: 18.6364vh; animation-delay: -8.0938s; }
body ul:nth-child(2) li:nth-child(38) { height: 19.0909vh; animation-delay: -8.3125s; }
body ul:nth-child(2) li:nth-child(39) { height: 19.5455vh; animation-delay: -8.5312s; }
body ul:nth-child(2) li:nth-child(40) { height: 20.0vh; animation-delay: -8.75s; }
body ul:nth-child(2) li:nth-child(41) { height: 20.4545vh; animation-delay: -8.9688s; }
body ul:nth-child(2) li:nth-child(42) { height: 20.9091vh; animation-delay: -9.1875s; }
body ul:nth-child(2) li:nth-child(43) { height: 21.3636vh; animation-delay: -9.4062s; }
body ul:nth-child(2) li:nth-child(44) { height: 21.8182vh; animation-delay: -9.625s; }
body ul:nth-child(2) li:nth-child(45) { height: 22.2727vh; animation-delay: -9.8438s; }
body ul:nth-child(2) li:nth-child(46) { height: 22.7273vh; animation-delay: -10.0625s; }
body ul:nth-child(2) li:nth-child(47) { height: 23.1818vh; animation-delay: -10.2812s; }
body ul:nth-child(2) li:nth-child(48) { height: 23.6364vh; animation-delay: -10.5s; }
body ul:nth-child(2) li:nth-child(49) { height: 24.0909vh; animation-delay: -10.7188s; }
body ul:nth-child(2) li:nth-child(50) { height: 24.5455vh; animation-delay: -10.9375s; }
body ul:nth-child(2) li:nth-child(51) { height: 25.0vh; animation-delay: -11.1562s; }
body ul:nth-child(2) li:nth-child(52) { height: 25.4545vh; animation-delay: -11.375s; }
body ul:nth-child(2) li:nth-child(53) { height: 25.9091vh; animation-delay: -11.5938s; }
body ul:nth-child(2) li:nth-child(54) { height: 26.3636vh; animation-delay: -11.8125s; }
body ul:nth-child(2) li:nth-child(55) { height: 26.8182vh; animation-delay: -12.0312s; }
body ul:nth-child(2) li:nth-child(56) { height: 27.2727vh; animation-delay: -12.25s; }
body ul:nth-child(2) li:nth-child(57) { height: 27.7273vh; animation-delay: -12.4688s; }
body ul:nth-child(2) li:nth-child(58) { height: 28.1818vh; animation-delay: -12.6875s; }
body ul:nth-child(2) li:nth-child(59) { height: 28.6364vh; animation-delay: -12.9062s; }
body ul:nth-child(2) li:nth-child(60) { height: 29.0909vh; animation-delay: -13.125s; }
body ul:nth-child(2) li:nth-child(61) { height: 29.5455vh; animation-delay: -13.3438s; }
body ul:nth-child(2) li:nth-child(62) { height: 30.0vh; animation-delay: -13.5625s; }
body ul:nth-child(2) li:nth-child(63) { height: 30.4545vh; animation-delay: -13.7812s; }
body ul:nth-child(2) li:nth-child(64) { height: 30.9091vh; animation-delay: -14.0s; }
body ul:nth-child(2) li:nth-child(65) { height: 31.3636vh; animation-delay: -14.2188s; }
body ul:nth-child(2) li:nth-child(66) { height: 31.8182vh; animation-delay: -14.4375s; }
body ul:nth-child(2) li:nth-child(67) { height: 32.2727vh; animation-delay: -14.6562s; }
body ul:nth-child(2) li:nth-child(68) { height: 32.7273vh; animation-delay: -14.875s; }
body ul:nth-child(2) li:nth-child(69) { height: 33.1818vh; animation-delay: -15.0938s; }
body ul:nth-child(2) li:nth-child(70) { height: 33.6364vh; animation-delay: -15.3125s; }
body ul:nth-child(2) li:nth-child(71) { height: 34.0909vh; animation-delay: -15.5312s; }
body ul:nth-child(2) li:nth-child(72) { height: 34.5455vh; animation-delay: -15.75s; }
body ul:nth-child(2) li:nth-child(73) { height: 35.0vh; animation-delay: -15.9688s; }
body ul:nth-child(2) li:nth-child(74) { height: 35.4545vh; animation-delay: -16.1875s; }
body ul:nth-child(2) li:nth-child(75) { height: 35.9091vh; animation-delay: -16.4062s; }
body ul:nth-child(2) li:nth-child(76) { height: 36.3636vh; animation-delay: -16.625s; }
body ul:nth-child(2) li:nth-child(77) { height: 36.8182vh; animation-delay: -16.8438s; }
body ul:nth-child(2) li:nth-child(78) { height: 37.2727vh; animation-delay: -17.0625s; }
body ul:nth-child(2) li:nth-child(79) { height: 37.7273vh; animation-delay: -17.2812s; }
body ul:nth-child(2) li:nth-child(80) { height: 38.1818vh; animation-delay: -17.5s; }
body ul:nth-child(2) li:nth-child(81) { height: 38.6364vh; animation-delay: -17.7188s; }
body ul:nth-child(2) li:nth-child(82) { height: 39.0909vh; animation-delay: -17.9375s; }
body ul:nth-child(2) li:nth-child(83) { height: 39.5455vh; animation-delay: -18.1562s; }
body ul:nth-child(2) li:nth-child(84) { height: 40.0vh; animation-delay: -18.375s; }
body ul:nth-child(2) li:nth-child(85) { height: 40.4545vh; animation-delay: -18.5938s; }
body ul:nth-child(2) li:nth-child(86) { height: 40.9091vh; animation-delay: -18.8125s; }
body ul:nth-child(2) li:nth-child(87) { height: 41.3636vh; animation-delay: -19.0312s; }
body ul:nth-child(2) li:nth-child(88) { height: 41.8182vh; animation-delay: -19.25s; }
body ul:nth-child(2) li:nth-child(89) { height: 42.2727vh; animation-delay: -19.4688s; }
body ul:nth-child(2) li:nth-child(90) { height: 42.7273vh; animation-delay: -19.6875s; }
body ul:nth-child(2) li:nth-child(91) { height: 43.1818vh; animation-delay: -19.9062s; }
body ul:nth-child(2) li:nth-child(92) { height: 43.6364vh; animation-delay: -20.125s; }
body ul:nth-child(2) li:nth-child(93) { height: 44.0909vh; animation-delay: -20.3438s; }
body ul:nth-child(2) li:nth-child(94) { height: 44.5455vh; animation-delay: -20.5625s; }
body ul:nth-child(2) li:nth-child(95) { height: 45.0vh; animation-delay: -20.7812s; }
body ul:nth-child(2) li:nth-child(96) { height: 45.4545vh; animation-delay: -21.0s; }
body ul:nth-child(2) li:nth-child(97) { height: 45.9091vh; animation-delay: -21.2188s; }
body ul:nth-child(2) li:nth-child(98) { height: 46.3636vh; animation-delay: -21.4375s; }
body ul:nth-child(2) li:nth-child(99) { height: 46.8182vh; animation-delay: -21.6562s; }
body ul:nth-child(2) li:nth-child(100) { height: 47.2727vh; animation-delay: -21.875s; }
body ul:nth-child(2) li:nth-child(101) { height: 47.7273vh; animation-delay: -22.0938s; }
body ul:nth-child(2) li:nth-child(102) { height: 48.1818vh; animation-delay: -22.3125s; }
body ul:nth-child(2) li:nth-child(103) { height: 48.6364vh; animation-delay: -22.5312s; }
body ul:nth-child(2) li:nth-child(104) { height: 49.0909vh; animation-delay: -22.75s; }
body ul:nth-child(2) li:nth-child(105) { height: 49.5455vh; animation-delay: -22.9688s; }
body ul:nth-child(2) li:nth-child(106) { height: 50.0vh; animation-delay: -23.1875s; }
body ul:nth-child(2) li:nth-child(107) { height: 50.4545vh; animation-delay: -23.4062s; }
body ul:nth-child(2) li:nth-child(108) { height: 50.9091vh; animation-delay: -23.625s; }
body ul:nth-child(2) li:nth-child(109) { height: 51.3636vh; animation-delay: -23.8438s; }
body ul:nth-child(2) li:nth-child(110) { height: 51.8182vh; animation-delay: -24.0625s; }
body ul:nth-child(2) li:nth-child(111) { height: 52.2727vh; animation-delay: -24.2812s; }
body ul:nth-child(2) li:nth-child(112) { height: 52.7273vh; animation-delay: -24.5s; }
body ul:nth-child(2) li:nth-child(113) { height: 53.1818vh; animation-delay: -24.7188s; }
body ul:nth-child(2) li:nth-child(114) { height: 53.6364vh; animation-delay: -24.9375s; }
body ul:nth-child(2) li:nth-child(115) { height: 54.0909vh; animation-delay: -25.1562s; }
body ul:nth-child(2) li:nth-child(116) { height: 54.5455vh; animation-delay: -25.375s; }
body ul:nth-child(2) li:nth-child(117) { height: 55.0vh; animation-delay: -25.5938s; }
body ul:nth-child(2) li:nth-child(118) { height: 55.4545vh; animation-delay: -25.8125s; }
body ul:nth-child(2) li:nth-child(119) { height: 55.9091vh; animation-delay: -26.0312s; }
body ul:nth-child(2) li:nth-child(120) { height: 56.3636vh; animation-delay: -26.25s; }
body ul:nth-child(2) li:nth-child(121) { height: 56.8182vh; animation-delay: -26.4688s; }
body ul:nth-child(2) li:nth-child(122) { height: 57.2727vh; animation-delay: -26.6875s; }
body ul:nth-child(2) li:nth-child(123) { height: 57.7273vh; animation-delay: -26.9062s; }
body ul:nth-child(2) li:nth-child(124) { height: 58.1818vh; animation-delay: -27.125s; }
body ul:nth-child(2) li:nth-child(125) { height: 58.6364vh; animation-delay: -27.3438s; }
body ul:nth-child(2) li:nth-child(126) { height: 59.0909vh; animation-delay: -27.5625s; }
body ul:nth-child(2) li:nth-child(127) { height: 59.5455vh; animation-delay: -27.7812s; }
body ul:nth-child(2) li:nth-child(128) { height: 60.0vh; animation-delay: -28.0s; }

@keyframes swing {
  0%, 100% {
    transform: rotate(-30deg);
  }
  5%, 45% {
    opacity: 0.25;
  }
  50%, 100%, 0% {
    opacity: 1;
  }
  50% {
    transform: rotate(30deg);
  }
}
